html{
    scroll-behavior: smooth;
}

body{
    background-color: #f4f6f8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

main{
    background-color: #ffffff;
}

.wave{
    background-color: #ffffff;
}

footer p{
    margin: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.logos{
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logos img{
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #0000
}

.container{
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    display:flex;
    justify-content: space-around;
}

.para{
    width: 40%;
}

.hello {
    font-size: 15px;
    font-weight:lighter;
}

.belek {
    font-size: 15px;
}

.bouton {
    height: 30px;
    width:140px;
    background-color:#f6e05e;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: hidden;
}

.entete{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.folio::after{
    content: "";
    list-style: none;
    display: flex;
    font-weight: bold;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 3px;
    background: transparent;
    transform: scale(0);
    transition: transform 0.35s ease-in-out;
}

.folio:hover::after { 
    transform: scale(1);
}

.barre{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #000;
    text-decoration: none;
}

.navItem::after{
    content: "";
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    width: 100%;
    height: 3px;
    background: #f6e05e;
    transform: scale(0);
    transition: transform 0.35s ease-in-out;
}

.navItem:hover::after { 
    transform: scale(1);
}

a:hover{
    font-weight: bold;
}

.logos img:hover{
    border: 2px solid #000f;
    background-color: #fff;
}

.scrollbutton{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #f6e05e;
    bottom: 40px;
    right: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:black;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.ligne2Blocs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f6f8;

}

.carre {
    flex: 1 0 240px;
    margin: 10px;
    background-color: #fff;
    border: 3px solid #f4f6f8;
    width: 40%;
    border-radius: 20px;
    overflow:hidden;
}

h3{
    margin:0;
    font-size: 20px;
}

.description{
    background-color: #fff;
    padding: 20px;
    font-size: 15px;
    padding-bottom: 30px;
}

.paragraphe {
    font-size: 12px;
}

.laga {
    margin: 5px;
    width: 40px;
    height: 40px;
    float:right;
}

.flexcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flexcol p{
    margin:0;
}

.guillemet{
    height: 40px;
    width: 40px;
    margin: 20px;
}

.quote{
    display: flex;
    justify-content: center;
    flex: 1 0 16em;
    max-width: 32em;
    margin: 20px;
}

.tete{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 15px;
}

.client{
    display: flex;
    justify-content: flex-end;
}

.nom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nom p{
    margin: 0;
    text-align: right;
}

main{
    padding-bottom: 50px;
}

.bg{
    max-width: 40%;
}

.q {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.spa{
margin-bottom:20px;
max-width:25%;
height:min-content;
border-radius: 30px;
}

.pres{
    max-width: 65%;
}

.colon {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70px;
    max-height:200px;
    flex-wrap: wrap;
}

.surline {
    font-weight:bold;
}

.services {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    text-align: center ;
    margin-right: auto;
    margin-left: auto;
}
 
.container2 {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.logov2 {
    display:flex;
    justify-content:center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.bidon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bidon p{
    font-weight: bold;
}

.contact{
    font-size: 12.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 

h1{
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.form{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    background-color: #f4f6f8;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 80px;
}

textarea{
    padding: 65px;
    border-radius: 5px;
    width: 300px;
    height: 125px;
    padding:5px 5px;
}

.texteformulaire{
    flex: 1 0 12em;
    max-width: 320px;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    background-color:#ffffff;
    flex-direction: column;
}

.Champ{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    margin-bottom: 5px;
}

label{
    font-weight: bold;
}

input[type="text" i] {
    padding: 10px 80px;
    display: flex;
}

.send{
    width: 100px;
    height: 30px;
    background-color:#f6e05e;
    border-radius: 20px;
    text-align:center;
    border-style: hidden;
    font-weight: bold;
}

h3{
    font-weight: bold;
}

span{
    font-weight:bolder;
}

span .reseau{
    font-weight: bold;
}

.Champ input{
    border-radius: 5px;
    width: 300px;
    padding:5px 5px;

}

h2{
    margin: 0;
}

.marker{
    display: flex;
    flex-flow: column wrap;
    align-content:flex-start;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 25px;
}

.marker_center{
    display: flex;
    flex-flow: column wrap;
    align-content:center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}